<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <script src="/js/index.js"></script>
</head>
<body>
  <h1>Home</h1>
  <h2>Lista de todos los productos</h2> 
    <ul>
    {{#each products}}
      <li>
        <h3>{{id}}</h3>
        <p>Titulo: {{title}}</p>
        <p>Descripción: {{description}}</p>
        <p>Precio: {{price}}</p>
        <p>Imagen: {{thumbnail}}</p>
        <p>Codigo: {{code}}</p>
        <p>Estado: {{status}}</p>
        <p>Stock: {{stock}}</p>
      </li>
    {{/each}}
  </ul>
</body>
</html>
