<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <div class="container">
    <h1>Home</h1>
    <h2>Lista de todos los productos</h2>
    <ul class="list-group">
      {{#each products}}
      <li class="list-group-item">
        <p class="title">Id: {{this._id}}</p>
        <p>Titulo: {{this.title}}</p>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Imagen: {{this.thumbnail}}</p>
        <p>Codigo: {{this.code}}</p>
        <p>Estado: {{this.status}}</p>
        <p>Stock: {{this.stock}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
</body>
</html>
