<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .profile-container {
            max-width: 300px;
        }
        /* Estilos para centrar la tarjeta */
        .centered-card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="container mt-5 centered-card">
        <div class="profile-container">
            <div class="card">
                <div class="card-header">
                    <h4>Bienvenido, {{ first_name }}!</h4>
                </div>
                <div class="card-body">
                    <p>Nombre: {{ first_name }}</p>
                    <p>Apellido: {{ last_name }}</p>
                    <p>Email: {{ email }}</p>
                    <p>Edad: {{ age }}</p>
                    <p>Rol: {{ role }}</p>
                    <a href="/logout" class="btn btn-danger btn-sm">Cerrar sesión</a>
                </div>
                <div class="container mt-3">
                    <a href="/products" class="btn btn-primary">Continuar</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
